<aside>
	
	<div class="widget">
		<h3>Iniciar sesion</h3>
		<form>
			<input type="email" name="email" placeholder="Email">
			<input type="password" name="password" placeholder="Password">
			<input type="submit" value="Entrar">
		</form>
	</div>

	<div class="widget">
		<h3>Ultimas entradas</h3>
		<ul>
			<li>
				<a href="#">El desarrollo no es mas que copiar y pegar</a>
			</li>
			<li>
				<a href="#">El desarrollo no es mas que copiar y pegar</a>
			</li>
			<li>
				<a href="#">El desarrollo no es mas que copiar y pegar</a>
			</li>
		</ul>
	</div>

	<div class="widget">
		<h3>Frase del dia</h3>
		<blockquote>Los efectos de la motivacion no son duraderos, ni el de las duchas por eso hay que ducharse cada dia</blockquote>
	</div>

</aside>